@import "tailwindcss";

@theme {
  --color-primary-500: #10B981;
  --color-primary-600: #059669;
}

@layer base {
  :root {
    font-family: 'Inter', system-ui, sans-serif;
    background-color: #FAFAFA;
    color: #111827;
  }
}
